.SearchBar{
    background-color: blue;
    height:200px;
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%; 
    align-items: center;
    justify-content: center;
}

.Filters{ 
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-color: yellow;
    padding: 15px 0px;
    max-width: 750px;
}

.SearchInputs{
    background-color: orange;
    padding: 15px 0px;
}

#SearchByFoodTypeInput{
    margin: 0px 20px;
}

#SearchByLocationInput{
    margin: 0px 20px;
}

.SearchButtonArea{
    background-color: pink;
    padding: 15px 0px; 
}

.activeClass { 
    background-color: green;
}